{{#each this}}
<div class="photo-card">
    <div class="js-lightbox">
        <div class="card__body">
            <img src="{{webformatURL}}" alt="{{tags}} photo" class="card-image">
        </div>


        {{!-- <button type="button" class="lightbox__button" data-action="close-lightbox">
        </button> --}}
    </div>



    <div class="stats">
        <p class="stats-item">
            <i class="material-icons">thumb_up</i>
            {{likes}}
        </p>
        <p class="stats-item">
            <i class="material-icons">visibility</i>
            {{views}}
        </p>
        <p class="stats-item">
            <i class="material-icons">comment</i>
            {{comments}}
        </p>
        <p class="stats-item">
            <i class="material-icons">cloud_download</i>
            {{downloads}}
        </p>
    </div>
</div>
{{/each}}